@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
/* 全局标签	 */
 	body{
 		color: #222222;
		font-size: 16px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		line-height: 1.42857143;
		background-color: #fff;
		margin: 0;
 	}
	a {
		text-decoration: none;   /* 去除下划线 */
		display: inline-block;   /* 生成边框的类型 */
		outline: none;   /* 轮廓样式 */
	}
	img {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		border: 0;
	}
	* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	figure {
	    margin: 0;
	}
	h1, h2, h3, h4, h5 {
	    font-family: 'Roboto', sans-serif;
	}
	h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    }
	p {
	    margin: 0;
	    padding: 0;
	    font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
	}
	button {
	    border: none;
	    outline: none;
	    box-shadow: none;
	    display: block;
	    padding: 0;
	    background: transparent;
	
	}
	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	    font-weight: 500;
	    line-height: 1.1;
	    color: inherit;
	}
	


	.col-md-3 {
	    width: 25%;
	}
	.col-md-4 {
		width: 33.33333333%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-6 {
	    width: 50%;
	}
	.col-md-7 {
	    width: 58.33333333%;
	}
	.col-md-12 {
	    width: 100%;
	}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
		float: left;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	}
	
	
	
	@font-face {
 	 font-family: 'HanYiDieYuTiJian56';   /*字体名称*/
 	 src: url('./fonts/HanYiDieYuTiJian56.ttf');       /*字体源文件*/
	}
	
	
	.boxed-wrapper {
		width: 100%;
		background: #fff;
		overflow-x: hidden;
	}

/* head-top */
	.boxed_wrapper {
		width: 100%;
		background: #fff;
		overflow-x: hidden;   /* overflow:规定当内容溢出元素框时发生的事情。 */
		
	}
	.head-top {
		position: relative;
		font-size: 13px;
		padding: 7px 0px;
		background: #313230;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		border-bottom: 5px solid #7aba1e;
		overflow: hidden;
		
	}
	.container {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		width: 1170px;
	}
	.pull-left {
		float: left !important;
	}
	.head-top .links-nav li {
		position: relative;
		float: left;
		margin-right: 25px;
	}
	.head-top .links-nav li a{
		position: relative;
		line-height: 26px;
		font-size: 13px;
		color: #d1d1d1;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		
		transition: .5s;
	}
	.head-top .links-nav li a:hover	{
		color: #7aba1e;
	}
	
	.pull-right {
		float: right !important;
	}
	.head-top .social-links a {
		position: relative;
		line-height: 26px;
		font-size: 13px;
		color: #d1d1d1;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		
		transition: .5s;
	}
	.head-top .social-links a:hover {
		color: #7aba1e;
	}
	
/* header-top*/	
	.header-top {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);   /* 阴影效果 */
		background: #fff;
		
		display: block;
		
		/* position:fixed; */   /* 锁定导航:fixed 生成绝对定位的元素，相对于浏览器窗口进行定位。 */
		width: 100%;
		z-index: 0;   /* 层级关系 */
	}
	.container {
		/* 同上 */
	}
	.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.row1 {
		overflow: hidden;
	}
	
	.main-logo {
		margin: 20px 0;
	}
	
	.header-top .menu-column {
		padding: 0;
	}
	.header-top .menuzord {
		padding: 0;
	}
	.menuzord {
		width: 100%;
		float: left;
		position: relative;   /* 规定元素的定位类型 */
		background: #fff;
	}
	.menuzord-menu {
		margin-top: 29px;
		margin-bottom: 0;
		padding: 0;
		float: left;
		list-style: none;   /* 在一个声明中设置所有列表属性 */
		
	}
	.menuzord-menu li {
		display: inline-block;
		float: left;
	}
	.menuzord-menu li a {
		padding: 8px 17px 28px;
		text-transform: uppercase;   /* 英文字母全部大写 */
		color: #222;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		font-size: 14px;
		font-weight: 700;
		font-family: '';
	}
	
	.col-md-2 {
		width: 16.66666667%;
	}
	.header-top .link-btn {
		margin-top: 24px;
	}
	.float_right {
		float: right;
	}
	.thm-btn {
		position: relative;
		background: #7aba1e;
		font-size: 14px;
		line-height: 42px;
		font-weight: 700;
		color: #ffffff;
		border: 2px solid #7aba1e;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 26px;
		font-family: 'Roboto', sans-serif;
		
		transition: all .5s cubic-bezier(0.4, 0, 1, 1);
	}
	.thm-btn:hover {
		background: #fff;
		color: #7aba1e;
	}
	
	

/* banner*/	
	.rev-slider-wrapper {
		height: 700px;
		width: 100%;
		/* margin-top: 87px; */
		overflow: visible;
		position: relative;
		display: block;
	}
	.banner{
		margin-top: 0px;
		margin-bottom: 0px;
		height: 700px;
		position: relative;
		overflow: visible;
	}
	.banner-slide{
		visibility: visible;
		display: block;
		overflow: hidden;
		height: 100%;
		max-height: none;
		left: 0px;
	}
	.slide-active{
		display:block;
	}
	.slide1{
		background-color: rgba(0, 0, 0, 0);
		background-repeat: no-repeat;
		background-image:url(../img/1.jpg);
		background-size: cover;
		background-position: center top;
	}
	.slide2{
		background-repeat: repeat;
		background-image:url(../img/2.jpg);
		background-size: cover;
		background-position: center top;
		display: none;
	}
	.slide3{
		background-repeat: repeat;
		background-image:url(../img/3.jpg);
		background-size: cover;
		background-position: center top;
		display: none;
	}
	.button{
	    position: absolute;
	    transform:rotate(180deg);
	    top: 50%;
	    left: 244px;
	    height: 80px;
	    width: 40px;
	    margin-top:-40px;
	    background:url(./img/arrow.png) center center no-repeat;
	    
	    transition: .5s;
	}
	.prev{
		right:auto;
		left:3%;
	}
	.next{
		transform:rotate(0deg);
		left:auto;
		right:3%;
	}
	.button:hover{
		background-color: #333;
		opacity: 0.8;
		filter:alpha(opacity=80);
	}
/* feature*/
	.feature{
		margin-top: 0px;
		display: block;
		
		height:364px;
	}
	.feature .item-list .item{
		margin-bottom: 70px;
		position: relative;
		transition: all ease-in 400ms;
		-webkit-transition: all ease-in 400ms;
		-moz-transition: all ease-in 400ms;
	}
	.feature .item-list .item:hover .overlay{
		bottom:0;
	}
	.feature .item-list .item .content-box{
		top: 50%;
		margin-top: -50px;
		display: inline-block;
		padding: 0px 24px;
		position: absolute;
		text-align: center;
		z-index: 1;
		color: #fff;
	}
	.feature .item-list .item .content-box h3{
	    margin-bottom: 10px;
	    text-transform:uppercase;
	    font-size:20px;
	    font-weight:700;
	}
	.feature .item-list .item .overlay{
		background-color: #7aba1e;
		display: inline-block;
		left: 0;
		padding: 50px 30px 30px;
		position: absolute;
		right: 0;
		text-align: center;
		bottom: -100%;
		height: 100%;
		transition: all ease-in 500ms;
		-webkit-transition: all ease-in 500ms;
		-moz-transition: all ease-in 500ms;
		z-index: 0;
	}
	.feature .item-list .item .overlay:before{
	    background-color: rgb(122, 186, 30);
	    top: -55px;
	    content: "";
	    height: 56px;
	    left: -27px;
	    position: absolute;
	    transform: skewX(-40deg);
	    -webkit-transform: skewX(-138deg);
	    width: 52px;
	}
	.feature .item-list .item .overlay:after{
	    background-color: rgb(122, 186, 30);
	    top: -55px;
	    content: "";
	    height: 56px;
	    right: -27px;
	    position: absolute;
	    transform: skewX(40deg);
	    -webkit-transform: skewX(138deg);
	    width: 52px;
	}
	
	.feature .item-list .item .image-box{
		position:relative;
		overflow: hidden;
	}
	
	.feature .item-list .item .icon-box{
	    position: absolute;
	    top: -45px;
	    right: 50%;
	    margin-right: -45px;
	    width: 90px;
	    height: 90px;
	    border: 4px solid #7aba1e;
	    border-radius: 50%;
	    background: #fff;
	    text-align: center;
	}
	.feature .item-list .item .icon-box i{
		position: relative;
		top: 20px;
		color:#222222;
	}
	.feature .item-list .item .icon-box i:before{
		font-size: 38px;
		margin: 0px;
	}
	.text-center {
		text-align: center;
	}
	.item-list .button-style-two {
	    position: relative;
	    top: -21px;
	    background: #fff;
	    font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		color: #222222;
		padding: 11px 26px;
		border: 1px solid #7aba1e;
		letter-spacing: 1px;
	}
	
	.flaticon-nature img{
		 width: 38px;
		 height: auto;
	}
	.flaticon-lawn-mower img{
		 width: 38px;
		 height: auto;
		 margin-top: 7px;
	}
	.flaticon-watering-can img{
		 width: 38px;
		 height: auto;
	}

/* our-services */
	.our-services-gardener {
	
		width: 100%;
		
		padding-bottom: 74px;
		padding-top: 95px;
		background:#f8f8f8;
		  
		overflow-x: hidden;
	}
	.our-services-gardener .sec-title{
		text-align: center;
	}
	.our-services-gardener .sec-title p{
		max-width: 650px;
		margin: 0 auto;
		color: #848484;
		margin-top: 20px;
	}
	.sec-title {
	    position: relative;
	    margin-bottom: 17px;
	}
	.our-services-gardener .clearfix{
		    margin-top: 66px;
	}
	.single-service-item {
		margin-bottom: 26px;
		position: relative;
		padding-left: 80px;
		background: #fff;
		-webkit-transition:.5s;
		transition:.5s;
		border-left: 2px solid #7aba1e;
	}
	
	.single-service-item:hover{
		
		-webkit-transition:.5s;
		transition:.5s;
	}
	.single-service-item.border:after {
	    position: absolute;
	    content: "";
	    border-right: 10px solid #eeeeee;
	    border-bottom: 10px solid #eeeeee;
	    top: 39px;
	    right: -34px;
	    bottom: 8px;
	    left: 118px;
	    z-index: 5;
	    transition: .5s ease;
	}
	.single-service-item .content {
	    position: relative;
	}
	.single-service-item .top-border{
	    width: 100%;
	    height: 2px;
	    background: #eee;
	    position: absolute;
	    left: 0px;
	    transform: rotate(180deg);   /* 变换：旋转180度 */
	}
	.single-service-item .right-border{
	    width: 2px;
	    height: 100%;
	    background: #eee;
	    position: absolute;
	    transform: rotate(180deg);
	    top: 0px;
	    right: 0px;
	}
	.single-service-item .bottom-border{
	    width: 100%;
	    height: 2px;
	    background: #eee;
	    position: absolute;
	    bottom: 0px;
	    right: 0px;
	}
	.single-service-item .top-border:before,
	.single-service-item .right-border:before,
	.single-service-item .bottom-border:before {
	    background: #7aba1e;
	    content: '';
	    position: absolute;
	    top:0;left:0;    
	}
	.single-service-item .top-border:before {
	    width: 0%;
	    height: 100%;
	    transition: all .3s ease .0s;   /* 过渡：0.3s；延时：0s */
	}
	.single-service-item .right-border:before {
	    width: 100%;
	    height: 0%;
	    transition: all .3s ease .3s;   /* 过渡：0.3s；延时：0.3s */
	}
	.single-service-item .bottom-border:before {
	    width: 0%;
	    height: 100%;
	    transition: all .3s ease .6s;   /* 过渡：0.3s；延时：0.6s */
	}
	.single-service-item:hover .top-border:before {
	    transition: all .3s ease .6s;   /* 过渡：0.3s；延时：0.6s */
	}
	.single-service-item:hover .right-border:before {
	    transition: all .3s ease .3s;   /* 过渡：0.3s；延时：0.3s */
	}
	.single-service-item:hover .bottom-border:before {
	    transition: all .3s ease .0s;    /* 过渡：0.3s；延时：0s */
	}
	
	.single-service-item:hover .top-border:before,
	.single-service-item:hover .bottom-border:before {
	    width: 100%;
	}
	.single-service-item:hover .right-border:before {
	    height: 100%;
	}
	
	.service-left-bg {
	  background: #ededed none repeat scroll 0 0;
	  height: 100%;
	  overflow: hidden;
	  width: 80px;
	  border-left: 2px solid #7aba1e;
	  -webkit-transition:.5s;
	  transition:.5s;
	}
	
	.single-service-item:hover .service-left-bg{
		background:#7aba1e;
		-webkit-transition:.5s;
		transition:.5s;
	}
	.our-services-gardener .single-service-item .service-icon {
		position: absolute;
		margin-top: -27px;
		top: 50%;
		left: 14px;
		width: 55px;
		height: 54px;
		overflow: hidden;
		text-align: center;
	}

	.service-icon i,
	.service-icon i:before {
	  font-size: 36px;
	  color: #7aba1e;
	  top: 0px;
	  margin: 0;
	}
	
	.single-service-item:hover .service-icon{
		background:#fff;
		border-radius:50px;
		-webkit-transition:.5s;
		transition: .5s;
	}
	
	.service-text {
	  overflow: hidden;
	  padding: 38px 10px 38px;
	}
	.service-text h4 {
	  text-transform: capitalize;
	  font-size: 16px;
	  font-weight: 500;
	  margin-bottom: 13px;
	  margin-top: 0;
	  
	}
	.service-text h4 a{
		color: #222222;
		transition:.5s;
		
		font-family: 'Roboto', sans-serif;
	}
	.service-text h4 a:hover{
		color:#7aba1e;
		transition:.5s;
	}
	.service-text p {
	  color: #777777;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 14px;
	  line-height: 22px;
	}
	.sec-title span {
    	color: #7aba1e;
	}
	.sec-title h2 {
	    position: relative;
	    font-size: 34px;
	    margin-bottom: 30px;
	    text-transform: capitalize;
	    font-weight: 500;
	}
	
/* two-column	 */
	.two-column{
		padding:100px 0px 0px;
		
		overflow-x: hidden;
	}
	.two-column .sec-title{
	    margin-bottom: 30px;
	}
	.two-column .sec-title h2{}
	.two-column .sec-title p{
		max-width:650px;
		margin:0 auto;
		color:#848484;
		margin-top: 15px;
	}
	.two-column .content-box{
		padding: 130px 0px 50px;
		position:relative;
	}
	
	.two-column .content-box p{
		color:#666666;
	}
	.two-column .content-box .clearfix{
		margin-top: 30px;
	}
	.two-column .inner-box .image-box{
		position:relative;
		text-align: center;
	}
	.two-column .inner-box .image-box img{
		width:auto;
		max-width: 100%;
		display:inline-block;
	}
	.single-choose-item {
	  margin-bottom: 26px;
	  position: relative;
	  background: #fff;
	  border: 1px solid #ededed;
	  -webkit-transition:.5s;
	  transition:.5s;
	}
	.choose-left-bg {
	    float: left;
	    height: 100%;
	    position: absolute;
	    overflow: hidden;
	    width: 60px;
	    -webkit-transition: .5s;
	    transition: .5s;
	}
	.choose-icon {
	    float: left;
	    margin-left: 10px;
	    margin-right: 10px;
	    position: relative;
	    margin-top: 20px;
	    width: 55px;
	    height: 55px;
	    overflow: hidden;
	    text-align: center;
	}
	.choose-icon i, .choose-icon i:before {
	    font-size: 36px;
	    color: #7aba1e;
	    position: relative;
	    top: 1px;
	    margin: 0;
	}
	.choose-icon i, .choose-icon i:before {
	    font-size: 36px;
	    color: #7aba1e;
	    position: relative;
	    top: 1px;
	    margin: 0;
	}
	.choose-text {
	    overflow: hidden;
	    padding: 26px 0px 38px;
	}
	.choose-text h4 {
	    
	    font-size: 16px;
	    font-weight: 500;
	    margin-bottom: 13px;
	    margin-top: 0;
	    text-transform: capitalize;
	}
	.choose-text h4 a{
		color: #222222;
		transition:.5s;
	}
	.choose-text h4 a:hover{
		color:#7aba1e;
		transition:.5s;
	}
	.choose-text p {
	    color: #777777;
	    font-family: 'Open Sans', sans-serif;
	    font-size: 14px;
	    line-height: 22px;
	}
	
/* footer */	
	.footer p{
	   font-family: 'Roboto', sans-serif;
	   font-weight:400;
	   font-size:14px;
	   color:#adadad;
	   line-height: 27px;
	}
	.footer .footer-upper {
	    padding: 100px 0px 50px;
	    overflow: hidden;
	}
	.footer-widget ul {
	    margin: 0;
	    padding: 0;
	}
	.footer-widget ul li {
	    list-style: none;
	}
	.footer-widget.about-widget img {
	    margin-bottom: 27px;
	}
	.footer-widget.about-widget p {
	    margin: 0;
	}
	.footer-widget h3.title {
	    font-size: 24px;
	    text-transform: capitalize;
	    margin: 0;
	}
	.footer-widget.quick-links ul li a {
	    font-size: 14px;
	    line-height: 38px;
	    tranisition: all .3s ease;
	}
	.footer-widget.quick-links ul li a:hover {
	    color: #d62929;
	}
	.footer-widget.contact-widget input,
	.footer-widget.contact-widget textarea {
	    width: 100%;
	    height: 50px;
	    border: none;
	    outline: none;
	    padding: 0 20px;
	}
	.footer-widget.contact-widget textarea {
	    height: 100px;
	    padding-top: 15px;
	    margin-bottom: 5px;
	}
	.footer-widget.contact-widget button {
	    width: 100%;
	    letter-spacing: 1px;
	    height: 50px;
	    background: #7aba1e;
	    color: #fff;
	    text-transform: uppercase;
	    font-size: 14px;
	    border: none;
	    outline: none;
	    padding: 0;
	    font-family: 'Roboto', sans-serif;
	    line-height: 50px;
	    font-weight: 700;
	    -webkit-transition:all .3s ease;
	    transition: all .3s ease;
	}
	.footer-widget.contact-widget button:hover {
	    background: #fff;
	    color: #7aba1e;
	}
	.footer-widget.contact-widget .column{
		padding:0 10px;
	}
	.row-10{
		margin:0px -10px;
		
	}
	.footer.bg-style .footer .footer-upper {
	    padding: 75px 0 65px;
	}
	.footer.bg-style .footer-widget h3.title {
	    margin-bottom: 31px;
	    position: relative;
	    font-weight: 500;
	    color: #fff;
	}
	.footer.bg-style .footer-widget.quick-links ul li {
	   
	    margin-bottom: 8px;
	}
	.footer.bg-style .footer-widget.quick-links ul li a {
	    display: block;
	    font-size: 14px;
	    color: #bfbfbf;
	    line-height: 22px;
	    padding-bottom: 7px;
	    padding-left: 15px;
	    position: relative;
	    font-weight: 400;
	    font-family: 'Open Sans', sans-serif;
	}
	.footer.bg-style .footer-widget.quick-links ul li a:before {
	    color: #aabfaa;
	    content: '〉';
	    font-family: "FontAwesome";
	    font-size: 12px;
	    left: 0;
	    line-height: 16px;
	    position: absolute;
	    top: 2px;
	}
	.footer.bg-style .footer-widget.quick-links ul li a:hover {
	    color: #7aba1e;
	}
	.footer.bg-style .footer-widget.quick-links ul li a:hover:before{
		color:#7aba1e;
	}
	
	.footer.bg-style .footer-widget.contact-widget input,
	.footer.bg-style .footer-widget.contact-widget textarea {
	    background: rgba(119, 119, 119, 0.35);
	    color: #fff;
	}
	.contact-section-btn{
		max-width:170px;
		margin:0 auto;
		
	}
	.footer.bg-style .footer-widget.contact-widget input {
	    height: 50px;
	    font-size: 14px;
	    font-weight: 400;
	    color: #adadad;
	    margin-bottom: 10px;
	    font-family: 'Open Sans', sans-serif;
	}
	
	.footer.bg-style .footer-widget.contact-widget textarea {
	    height: 90px;
	    font-size: 14px;
	    font-weight: 400;
	    color: #adadad;
	    margin: 5px 0px 20px;
	    font-family: 'Open Sans', sans-serif;
	}
	
	.footer.bg-style .footer-widget.contact-widget button {
	    height: 50px;
	    line-height: 45px;
	}
	.footer-widget.opening-hour{
		color:#adadad;
	}
	.footer-widget.opening-hour span{
	    font-size: 14px;
	    font-weight: 400;
	    font-family: 'Open Sans', sans-serif;
	    color: #adadad;
	    line-height: 34px;
	}
	.footer-widget.opening-hour .day-time{
	    margin-top: 16px;
	}
	
	.footer-bottom{
		color:#d1d1d1;
		border-top: 1px solid #505050;
		padding: 20px 0px 54px;
	}
	.footer-bottom .social-links a{
		
		display:inline-block;
		font-size:13px;
		font-weight:normal;
		color: #d1d1d1;
		padding: 0px 15px;
		line-height:26px;
		
	}
	
	.footer-bottom a:hover{
		color:#7aba1e;	
	}
	.footer-bottom .copyright-text{
		font-family: 'Open Sans', sans-serif;
		font-weight:400;
		font-size:14px;
		color:#adadad;
	}
	
	.bg-style {
		margin-top: 100px;
		overflow: hidden;
	}
	.button-style-one {
	    margin-top: 20px;
	    color: #7aba1e;
	    position: relative;
	    text-transform: uppercase;
	    font-size: 14px;
	    font-weight: 700;
	    letter-spacing: 1px;
	    font-family: 'Roboto', sans-serif;
	    margin-bottom: 12px;
	}
	
	.fa-facebook-f::before, .fa-facebook::before {
	    content: "✉";
	    font-size: 20px;
	}
	.fa-twitter::before {
	    content: "☏";
	    font-size: 20px;
	}
	.fa-linkedin::before {
	    content: "☊";
	    font-size: 20px;
	}
	.fa-instagram::before {
	    content: "✈";
	    font-size: 20px;
	}
	.fa-pinterest-p::before {
	    content: "✍";
	    font-size: 20px;
	}

/* scroll-top*/
	.scroll-top {
	    width: 50px;
	    height: 40px;
	    position: fixed;
	    bottom: 30px;
	    right: 30px;
	    z-index: 99;
	    display: block;
	    color: #fff;
	    text-align: center;
	    background: #7aba1e;
	}
	.scroll-top:after {
	  position: absolute;
	  z-index: -1;
	  content: '';
	  top: 100%;
	  left: 5%;
	  height: 10px;
	  width: 90%;
	  opacity: 1;
	  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
	  background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
	  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
	}
	.fa-angle-up a {
		width: 50px;
		height: 40px;
		z-index: 99;
	}
	
	.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%;
		z-index:999999; background-color:#ffffff; background-position:center center;
		background-repeat:no-repeat; background-image:url(./img/preloader.gif);
	}